h1 {
    font-size: 24px;
    color: blue;
    font-family: 'Arial', sans-serif;
}

fieldset {
    border-radius: 10px;
    width: 450px;
    border: 1px solid blue;
    padding: 15px;
    background-color: #f9f9f9;
}

input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.author-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.author-table th, .author-table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    text-align: left;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.author-table button {
    display: inline-block;
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.author-table button:hover {
    background-color: darkred;
}

.fieldset button {
    background-color: rgb(100, 218, 89);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fieldset button:hover {
    background-color: royalblue;
}
